<!-- Reusable template for rendering any item -->
<ng-template #renderItem let-item>
  @switch (item.type) {
    @case ('button') {
      <button 
        [class]="getClasses(item.classes) + getDynamicClasses(item)" 
        [ngStyle]="getItemStyles(item.id)"
        (click)="onItemClick(item.clickAction || '', item.id)">
        @for (child of item.children; track child.id) {
          <ng-container *ngTemplateOutlet="renderItem; context: {$implicit: child}"></ng-container>
        }
      </button>
    }

    @case ('container') {
      <div 
        [class]="getClasses(item.classes) + getDynamicClasses(item)" 
        [ngStyle]="getItemStyles(item.id)"
        (click)="onItemClick(item.clickAction || '', item.id)">
        @for (child of item.children; track child.id) {
          <ng-container *ngTemplateOutlet="renderItem; context: {$implicit: child}"></ng-container>
        }
      </div>
    }

    @case ('modal') {
      @if (shouldShowModal(item.showCondition)) {
        <div 
          [class]="getClasses(item.classes) + getDynamicClasses(item)"
          [ngStyle]="getItemStyles(item.id)">
          @for (child of item.children; track child.id) {
            <ng-container *ngTemplateOutlet="renderItem; context: {$implicit: child}"></ng-container>
          }
        </div>
      }
    }

    @case ('image') {
      <img 
        [class]="getClasses(item.classes) + getDynamicClasses(item)" 
        [ngStyle]="getItemStyles(item.id)"
        [src]="assetsPath + item.imageSrc" 
        [alt]="item.altText"
        (click)="onItemClick(item.clickAction || '', item.id)" />
    }

    @case ('text') {
      <span 
        [class]="getClasses(item.classes) + getDynamicClasses(item)"
        [ngStyle]="getItemStyles(item.id)" 
        (click)="onItemClick(item.clickAction || '', item.id)">
        {{ item.content }}
      </span>
    }
  }
</ng-template>

<!-- Render the items passed to this component -->
@for (item of items; track item.id) {
  <ng-container *ngTemplateOutlet="renderItem; context: {$implicit: item}"></ng-container>
}